/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100vh;
  padding: 0;
  margin: 0;
}

$main-color: #F79256;
$second-color: #FBD1A2;
$color-2: #7DCFB6;
$color-3: #00B2CA;
$color-4: #1D4E89;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
