<section class="container">
  <header>
    <ng-content select="[header]"></ng-content>
  </header>
  <main>
    <!-- <aside class="left-sidebar"> -->
    <aside [ngClass]="{'left-sidebar--hide': !showLeftSidebar}" class="left-sidebar">
      <ng-content select="[left-sidebar]"></ng-content>
    </aside>
    <ng-content select="[body]"></ng-content>
    <aside [ngClass]="{'right-sidebar--hide': !showRightSidebar}" class="right-sidebar">
      <ng-content select="[right-sidebar]"></ng-content>
    </aside>
  </main>
  <footer>
    <p>Developed by <a href="https://github.com/toncatalansuazo">toncatalansuazo</a>. All rights reserved.</p>
    <ng-content select="[footer]"></ng-content>
  </footer>
</section>

